.loginForm, .title, .warning {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: auto;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    padding: 0.25em 0;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid #999999;
}

.title {
    margin-bottom: 1em;
}

.warning {
    margin-top: 1em;
    font-weight: normal;
    color: red;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
}

.loginForm form {
    width: 100%;
    margin: 1em auto;
}

.loginForm form ul {
    list-style-type: none;
}

.loginForm form label,
.loginForm form input {
    display: inline-block;
}

.loginForm form label {
    width: 30%;
    text-align: right;
}

.loginForm form label+input {
    width: 50%;
    margin: 0 10% 0.5em 5%;
    font-family: inherit;
    font-size: 1em;
    padding: 0.15em 0.25em;
    border: none;
}

.loginForm form button {
    font-family: inherit;
    font-size: 1em;
    padding: 0.2em 1.5em;
    margin: 0.1em;
    background: #304352;
    border: rgba(0, 0, 0, 0.7) solid 1px;
    color: #fff;
    cursor: pointer;
}

.loginForm form button:hover {
    background: #304352;
    color: #fff;
    border: rgba(255, 255, 255, 0.5) solid 1px;
}