body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    font-family: serif;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999999;
    padding: 3px;
}

th {
    border-bottom: 1px solid #000;
}

.header {
    background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

.header-title {
    font-size: 120%;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;

}

.content {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.card {
    display: inline-block;
    vertical-align: top;

}

.card-left {
    width: 10%;
    margin: 15px 20px 20px 0;
}

.card-right {
    width: 88%;
    margin: 15px 0 100px 0;
}

.table {
    display: table;
    font-size: 80%;
    text-align: center;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

#block-diary-date {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    border: 1px solid #999999;
}

#label-diary-date {
    display: block;
    font-size: 80%;
    font-weight: bold;
    margin: 0 auto 5px auto;
}

#input-diary-date {
    display: block;
    font-family: serif;
    font-size: 80%;
    margin: 0 auto 0 auto;
}

#table-departments, #table-patients {
    width: 100%;
    margin: 0;
}

.row-patients {
    background-color: #fff;
}

.row-departments:hover, .row-patients:hover, .selected-department {
    background: #304352;
    color: #fff;
}

.mark-inpatient {
    color: #00f;
}

.mark-reanimation {
    color: #aa0000;
}

.mark-outcome {
    background-color: #d7d2cc;
}