.notFound {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15em;
    margin: auto;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    padding: 1em 0.5em;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid #999999;
}