.contentContainer {
    display: grid;
    grid-template-columns: 11em auto;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
    gap: 1em;
}

.stickyPanel {
    align-self: start;
    width: 100%;
    position: sticky;
    top: 5.09em;
}

@media (max-width: 1000px) {
    .contentContainer {
        grid-template-columns: 1fr;
    }
    .stickyPanel {
        position: static;
        width: 11em;
    }
}
