#DateSelector {
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#diaryDate {
    font-size: 0.9em;
    font-weight: bold;
}

#diaryDateInput {
    font-family: inherit;
}

#DateSelector button {
    font-family: inherit;
    font-size: 0.8em;
    padding: 0 0.25em;
    margin: 0.1em;
    border: rgba(0, 0, 0, 0.4) solid 1px;
    background-color: transparent;
    cursor: pointer;
}

#DateSelector button.selected {
    background: #304352;
    color: #fff;
}

#DateSelector button:hover {
    background: rgba(0, 0, 0, 0.15);
}