.title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    padding: 0.25em 0;
    margin-bottom: 1em;
    font-size: 0.9em;
    font-weight: bold;
}

.inpatient {
    color: #00f;
}

.reanimation {
    color: #aa0000;
}

.processing {
    background-color: white;
}
