.main {
  padding: 0.5em;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.titleBlock {
  display: flex;
}

.title {
  font-weight: bold;
  text-align: left;
  width: 9.5em;
}

.areaSelector {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
}

.areaSelector > button,
.titleBlock > button {
  font-family: inherit;
  font-size: inherit;
  max-height: 1.25em;
  min-height: 1.25em;
  padding: 0 0.5em;
}

.titleBlock > button {
  width: 6em;
}
