.main {
  padding: 0.5em;
}

.disabled {
  opacity: 0.25;
  pointer-events: none;
}

.titleBlock {
  display: flex;
}

.areaSelector {
  display: flex;
  padding: 0.5em;
  flex-wrap: wrap;
  gap: 0.25em 0.5em;
}

.areaSelector > button,
.titleBlock > button {
  font-family: inherit;
  font-size: inherit;
  max-height: 1.25em;
  min-height: 1.25em;
  padding: 0 0.5em;
}

.titleBlock > button {
  width: 6em;
}

.titleCheckbox {
  display: none;
}

.titleLabel {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-align: left;
  padding: 0.1em 1em;
  max-height: 1.15em;
  min-height: 1.15em;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  color: rgba(0, 0, 0, 0.8);
  background: #c4c2be;
  cursor: pointer;
  gap: 0.25em;
  flex-wrap: nowrap;
}

.titleLabel:hover {
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.titleCheckbox:checked + label {
  background: #304352;
  color: #fff;
}
