.mainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  align-items: start;
  justify-content: start;
  gap: 1em;
  height: auto;
}

.block,
.title {
  background-color: #d7d2cc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  font-size: 0.9em;
  border: 1px solid #999999;
}

.title {
  grid-column: 1 / span 2;
  padding: 0.25em 0;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}

.block {
  height: 100%;
}

.block > div {
  border-bottom: #999999 1px solid;
}

.block > div:nth-last-child(1) {
  border-bottom: none;
}

@media (max-width: 1200px) {
  .mainArea {
    grid-template-columns: 1fr;
  }
  .title {
    grid-column: 1;
  }
}
