.main {
  padding: 0.5em;
}

.title {
  font-weight: bold;
  text-align: left;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  text-align: left;
  padding: 0.25em 0.5em 0.3em 0.5em;
  border: none;
}

.checkboxLabel {
  font-family: inherit;
  font-size: inherit;
  padding: 0 0.5em 0.15em;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  color: rgba(0, 0, 0, 0.8);
  background: #c4c2be;
  cursor: pointer;
}

.checkboxLabel:hover {
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.checkbox {
  display: none;
}

.checkbox:checked + label {
  background: #304352;
  color: #fff;
}

.textareaBlock {
  padding: 0 0.5em;
}

.textarea {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  padding: 0.25em 0.5em;
  width: 100%;
  resize: vertical;
  border: none;
}
