.main {
  display: flex;
  gap: 0.5em;
  padding: 0.2em 0.5em;
}

.title {
  font-family: inherit;
  font-size: inherit;
  text-decoration: underline;
  text-align: left;
  min-width: 8.5em;
  max-width: 8.5em;
}

.optionsLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.option {
  display: none;
}

.optionLabel {
  font-family: inherit;
  font-size: inherit;
  padding: 0 0.5em 0.15em;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  color: rgba(0, 0, 0, 0.8);
  background: #c4c2be;
  cursor: pointer;
}

.optionLabel:hover {
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.option:checked + label,
.option:not(:checked) ~ .text {
  background: #304352;
  color: #fff;
}

.text {
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  padding: 0 0.5em;
  width: 100%;
  border: none;
}
