.NavButton {
    font-family: inherit;
    font-size: inherit;
    width: 8em;
    padding: 0.5em;
    border: rgba(0, 0, 0, 0.05) solid 1px;
    color: rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.NavButton:hover {
    background: #304352;
    color: #fff;
}

.NavButton.selected {
    background: #304352;
    color: #fff;
}