.editor {
  width: 90%;
  min-height: 1.5em;
  margin: 1em auto 5em auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-content: flex-start;
  background-color: #d7d2cc;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  padding: 0.5em 0.75em;
  margin-bottom: 1em;
  font-size: 0.9em;
  border: 1px solid #999999;
  gap: 0.5em;
}

.editor button {
  font-family: inherit;
  font-size: inherit;
  min-width: 5em;
  height: 1.5em;
  padding: 0 0.5em;
  border: rgba(0, 0, 0, 0.15) solid 1px;
  color: rgba(0, 0, 0, 0.8);
  background: #c4c2be;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-items: center;
}

.editor button:hover {
  background: #304352;
  color: #fff;
  border: rgba(255, 255, 255, 0.5) solid 1px;
}

.editor :global(.active) button {
  background: #304352;
  color: #fff;
}

.buttonText {
  display: inline-block;
  vertical-align: text-top;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
}

.icon {
  color: #304352;
}

.editor button:hover .icon {
  color: white;
}

.editor button:hover .icon.close:hover {
  color: #c4c2be;
}

@media (max-width: 1000px) {
  .editor {
    grid-template-columns: 1fr 1fr;
  }
}
