[Unit]
Description=qinpatients
Requires=docker.service
After=docker.service

[Service]
Type=forking
User=potrav2
Restart=always
ExecStart=/usr/bin/docker-compose --project-directory /home/BSMP1/potrav2/.qinpatient/infra/ --file /home/BSMP1/potrav2/.qinpatients/infra/docker-compose.yml --project-name qinpatients start
ExecStop=/usr/bin/docker-compose --project-directory /home/BSMP1/potrav2/.qinpatients/infra/ --file /home/BSMP1/potrav2/.qinpatients/infra/docker-compose.yml --project-name qinpatients stop
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=yes

[Install]
WantedBy=default.target
