.dateSelectorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d7d2cc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border: 1px solid #999999;
}

.dateSelectorContainer label {
    font-size: 0.9em;
    font-weight: bold;
}

.diaryDateInput {
    font-family: inherit;
}

.dateButton {
    font-family: inherit;
    font-size: 0.8em;
    padding: 0 0.25em;
    margin: 0.1em;
    border: rgba(0, 0, 0, 0.4) solid 1px;
    background-color: transparent;
    cursor: pointer;
}

.dateButton:hover {
    background: rgba(0, 0, 0, 0.15);
}

.selected {
    background: #304352;
    color: #fff;
}
